<div class="
  animate__animated
  animate__fadeIn
  animate__faster">
  <h2>Por país</h2>
  <hr>
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país...">
      </app-pais-input>
    </div>
  </div>
  <ul class="list-group" *ngIf="mostrarSugerencias">
    <li class="list-group-item list-group-item-action"
        *ngFor="let pais of paisesSugeridos">
      <a class="nav-link"
         [routerLink]="['/pais', pais.cca2]">
        <img src="assets/icons/search_icon.svg" alt="">
        {{pais.name.official}}
      </a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="buscarSugerido(pais)">
      <a class="nav-link"
         [routerLink]="[]">
        Buscar "{{pais}}"
      </a>
    </li>
  </ul>
  <hr>
  <div class="alert alert-danger mt-1" *ngIf="hayError">
    No se encontró ningún país con el término {{pais}}
  </div>
  <div class="row mt-3" *ngIf="paises.length > 0">
    <div class="col">
      <app-tabla-paises
        [paises]="paises">
      </app-tabla-paises>
    </div>
  </div>
</div>
