<h2>Por país</h2>
<hr>
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar país...">
    </app-pais-input>
  </div>
</div>
<hr>
<div class="alert alert-danger mt-1" *ngIf="hayError">
  No se encontró ningún país con el término {{pais}}
</div>
<div class="row mt-3" *ngIf="paises.length > 0">
  <div class="col">
    <app-tabla-paises
      [paises]="paises">
    </app-tabla-paises>
  </div>
</div>
