<table class="table table-striped table-hover">
  <caption></caption>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Bandera</th>
    <th scope="col">Nombre</th>
    <th scope="col">Capital</th>
    <th scope="col">Población</th>
  </tr>
  </thead>
  <tbody>
  <tr class="
      animate__animated
      animate__fadeIn
      animate__faster"
      *ngFor="let pais of paises; let i = index">
    <td class="p-3">{{i + 1}}</td>
    <td class="p-3">
      <img class="small-flag shadow-lg" [src]="pais.flags.svg" alt="bandera">
    </td>
    <td class="p-3">{{pais.name.official}}</td>
    <td class="p-3">{{pais.capital}}</td>
    <td class="p-3">{{pais.population | number}}</td>
    <td class="p-3">
      <a [routerLink]="['/pais', pais.cca2]">Ver...</a>
    </td>
  </tr>
  </tbody>
</table>
