<table class="table table-striped table-hover">
  <caption></caption>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Bandera</th>
    <th scope="col">Nombre</th>
    <th scope="col">Población</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pais of paises; let i = index">
    <td>{{i + 1}}</td>
    <td>
      <img class="small-flag" [src]="pais.flags.svg" alt="bandera">
    </td>
    <td>{{pais.name.official}}</td>
    <td>{{pais.population | number}}</td>
    <td>
      <a [routerLink]="['/pais', pais.cca2]">Ver...</a>
    </td>
  </tr>
  </tbody>
</table>
