<h2>Countries API</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
    Buscar País <img src="assets/icons/search_icon.svg" width="20" alt="">
  </li>
  <li class="list-group-item"
      routerLink="region"
      routerLinkActive="active">
    Por Región <img src="assets/icons/search_icon.svg" width="20" alt="">
  </li>
  <li class="list-group-item"
      routerLink="capital"
      routerLinkActive="active">
    Por Capital <img src="assets/icons/search_icon.svg" width="20" alt="">
  </li>
</ul>
